.side_feedback{
    background-color: pink;
    padding: 10px;
    height: 300px;
    width: 200px;
    border-radius: 10%;
}
.container_tag{
    background-color: royalblue;
    min-height: 180px;
    max-width: 2rem;
    border: 6px solid royalblue;
}
.tag{
transform: rotate(-90deg);
position: relative;
top: 6rem;
}
.container_box{
    background-color: pink;
    min-height: 180px;
    border-left: 6px solid white;
    width: 90%;
    position: relative;
    bottom: 11.25rem;
    left: 2rem;
}
