.container_tag {
    background-color: royalblue;
    min-height: 180px;
    width: 9%;
    max-width: 3.2rem;
    float: left;
    position: relative;
}

.tag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg)
}

.container_box {
    background-color: pink;
    min-height: 180px;
    border-left: 6px solid beige;
    width: 91%;
    position: relative;
    float: left;
}

@media (min-width:768px) {
    .container_box {
        width: calc(100% - 3.2rem);
    }
}
.side_feedback{
    background-color: pink;
    padding: 10px;
    height: 300px;
    width: 200px;
    border-radius: 10%;
    margin-left: 17px;
}
.vertical-line{
    border-left: 6px solid #5f5;
    left:50%;
    margin: 0 auto;
    width: 1px;
    min-height: 200px;
}
.btn{
    color: red;
}