* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#header {
    height: 300px;
    background-color:#E0E0E0;
}
#banner{
    position: relative;
    height:200px;
    width:500px;
    background-color: pink;
    left:550px;
    text-align: center;
}
.line{
    border-bottom: 1px solid black;
    display: block;
}

#moving{
    animation: type 3s steps(22);
    overflow: hidden;
    white-space:nowrap;
    font-family:consolas;
    border-right:4px solid black;
}
@keyframes type{
    0% {
        width:0ch;
    }
    100% {
        width: 15ch;
    }
}
body {
    background-color: #D0D0D0;
}
#dropdown {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 75px;
    background: #D0D0D0;
    position: relative;
}

#dropdown a{
    position: relative;
    top: 10px;
    align-items: center;
    display: inline-block;
    padding: 10px 18px;
    margin-inline-end: 10px;
    text-decoration:  none;
    color: black;
    background: #D0D0D0;
    letter-spacing: 2px;
    font-size: 16px;
    transition: 0.5s;
}
#dropdown a:hover{
    color: rgba(255, 255, 255, 1);
    background-color: #262c37;
}
#dropdown a span{
    display: block;
    position: absolute;
    background: #2894ff;
}
#dropdown a span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
#dropdown a:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
#dropdown a span:nth-child(2){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
#dropdown a:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}
#dropdown a span:nth-child(3){
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
#dropdown a:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
#dropdown a span:nth-child(4){
    right: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
#dropdown a:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
#content {
    display: flex;
    width: 70%;
    justify-content: space-around;
    box-shadow: 0 5px 35px rgba(0,0,0, 0.08);
}
.text-light {
    color: #f8f9fa!important;
    height: 100px;
    margin-bottom: 0!important;
    margin-top: 0!important;
    background-color: #343a40!important;
    text-align: center!important;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
footer a{
    color: #b5c7da;
    text-decoration: none;
    background-color: transparent;
}
.card_image {
    position: relative;
    
}
.card_image img{
    width: 250px;
    height: 250px;
    display: flexbox;
    justify-content: space-between; 
}
.info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(0px);
    transition: ease-in-out 0.25s;
    opacity: 0;
}
.info:hover{
    backdrop-filter: blur(3px);
    color: black;
    opacity: 1;
}

