* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#header {
    height: 300px;
    background-color:#E0E0E0;
}
#banner{
    position: relative;
    height:200px;
    width:500px;
    background-color: pink;
    left:550px;
    text-align: center;
}
.line{
    border-bottom: 1px solid black;
    display: block;
}

#moving{
    animation: type 3s steps(22);
    overflow: hidden;
    white-space:nowrap;
    font-family:consolas;
    border-right:4px solid black;
}
@keyframes type{
    0% {
        width:0ch;
    }
    100% {
        width: 15ch;
    }
}
body {
    background-color: #D0D0D0;
}
#dropdown {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 75px;
    background: #D0D0D0;
    position: relative;
}

#dropdown a{
    position: relative;
    top: 10px;
    align-items: center;
    display: inline-block;
    padding: 10px 18px;
    margin-inline-end: 10px;
    text-decoration:  none;
    color: black;
    background: #D0D0D0;
    letter-spacing: 2px;
    font-size: 16px;
    transition: 0.5s;
}
#dropdown a:hover{
    color: rgba(255, 255, 255, 1);
    background-color: #262c37;
}
#dropdown a span{
    display: block;
    position: absolute;
    background: #2894ff;
}
#dropdown a span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
#dropdown a:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
#dropdown a span:nth-child(2){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
#dropdown a:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}
#dropdown a span:nth-child(3){
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
#dropdown a:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
#dropdown a span:nth-child(4){
    right: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
#dropdown a:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
#content {
    display: flex;
    width: 97%;
    justify-content: space-around;

}
.text-light {
    color: #f8f9fa!important;
    height: 100px;
    margin-bottom: 0!important;
    margin-top: 0!important;
    background-color: #343a40!important;
    text-align: center!important;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
footer a{
    color: #b5c7da;
    text-decoration: none;
    background-color: transparent;
}
.filter {
   padding: 10px;
   margin: 10px;
   height: 500px;
   width: 200px; 
   background-color: pink;
   position: relative;
   left: 10px;
   bottom: 15px;
   border-radius: 10px;
}
.resource_cards_container{
    padding: 10px;
    margin: 10px;
    height: auto;
    width: 83%;
    background-color: #88c8f8;
    position: relative;
    bottom: 15px;
    left: 30px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    
}
.resource_card{
    padding: 10px;
    margin: 10px;
    width: 340px;
    height: 370px;
    position: relative;
    border: tomato 2px solid;
    background-color: #c0e1f6;

}
.resource_card img{
    width: 310px;
    height: 310px;
    margin: auto;
    display: block;
    transition: opacity 0.25s;
    border-radius: 25px;
    border: solid 2px black;
}
.resource_card h3{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    opacity: 0;
    color: black;
}
.resource_card p{
    font-size: 1.25em;
    margin-top: 0.25em;
    position: absolute;
    top: 35px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    color: black;
}
.resource_card h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}
.resource_card:hover h3{
    opacity: 2;
    color: black;
    transition: ease-in-out 0.25s;
    backdrop-filter: blur(4px);
}
.resource_card:hover p{
    opacity: 1;
    color: black;
    
} 
.resource_card:hover h2{
    opacity: 0;
    transition: 0.23s;
}
.filterDiv {
    display: none; 
}
.show {
    display: block;
}
.btn {
    border-radius: 5px;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.btn:hover {
    background-color: black;
    color: white;
}
.btn.active {
    background-color: red;
    color: white;
}
.resource_cards_container .expert{
    background-color: red;
}
#logo{
    position: relative;
    bottom: 180px;
    left: 20px;
    height: 240px;
    width: 240px;
    border-radius: 150px;
    background-image: linear-gradient(45deg,#98c4f1,#ffffff);
}
#logo .logo_up{
    position: relative;
    top: 35px;
    left: 130px;
    color: black;
    font-size: 35px;
}
#logo .logo_skill{
    position: relative;
    top: 55px;
    left: 80px;
    color: black;
    font-size: 35px;
}
#logo .logo_ez{
    position: relative;
    top: 70px;
    left: 40px;
    color: black;
    font-size: 35px;
}
.ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 30px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
@media (max-width: 768px){
    main{
        width: 100%;
    }
}